.feed-kingdom {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid var(--border-main);
  border-radius: 6px;
  cursor: pointer;
  background-color: var(--background-main);
}

.feed-kingdom {
  transition: background-color 0.5s ease;
}

.feed-kingdom:hover {
  background-color: var(--secondary-2);
}

.feed-kingdom__kingdom_title {
  height: 120px;
}

.feed-kingdom__kingdom_title-text {
  text-align: center;
}

.feed-kingdom__kingdom_btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}