@import url(./assets/fonts/fonts.css);
@import url(components/components.css);
@import url(pages/pages.css);
@import url(bootstrap.css);

#root {
  /* background-image: url('/src/assets/img/image.png');
  background-size: contain;
  background-repeat: repeat; */

  /*  colors  */
  --main-color: white;
  --text-white: black;
  --background-main: white;
  --border-main: black;
  --secondary-1: #f9c42e;
  --secondary-2: #a2905d;
  --secondary-3: #d9cfb6;
  /* --main-color: #2b003d;
  --text-white: #e7e7e7;
  --background-main: #320840;
  --border-main: #808080; */
}

